{% extends "bootstrap/base.html" %}

{% block title %}
公文收發系統
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">
                <strong>公文收發系統</strong>
            </a>
            <ul class="nav navbar-nav">
                <li><a href="receive">收文</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
    {% for alert in alerts %}
        <pre>{{ alert }}</pre>
        <!--div class="alert alert-success" role="alert">
        </div-->
    {% endfor %}
        <div class="row">
        {% for id_, document in documents.items() %}
            <form id="{{ id_ }}" action="receive" method="post"></form>
        {% endfor %}
            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="10%">日期</th>
                            <th width="20%">來文字號</th>
                            <th width="15%">收文者</th>
                            <th width="35%">主旨</th>
                            <th width="5%">附件</th>
                            <th width="10%">承辦人</th>
                            <th width="5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for id_, document in documents.items() %}
                        <tr>
                            <td>{{ document.receive_datetime.strftime("%Y-%m-%d") }}</td> 
                            <td>{{ document.source_no }}</td>
                            <td>{{ document.receiver }}</td>
                            <td>{{ document.subject }}</td>
                            <td>{{ document.num_attachments }}</td>
                            <td>
                                <select form="{{ id_ }}" class="form-control" name="conductor">
                                    <option></option>
                                {% for user_nm in user_nms %}
                                    <option>{{ user_nm }}</option>
                                {% endfor %}
                                </select>
                            </td>
                            <td>
                                <button form="{{ id_ }}" class="btn btn-primary" type="submit" name="id" value="{{ id_ }}">
                                    掛號
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
